#project-grid {
    @media screen and (orientation: portrait) {
        display: flex;
        flex-direction: column;
    }
    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 16px;
    width: 70vw;
    margin: 16px auto;
    text-align: center;

    > * {
        border-radius: 10px;
        box-shadow: -4px 4px 8px rgba($color: black, $alpha: .2);
        height: calc((70vw - 32px) / 3);
        line-height: calc((70vw - 32px) / 3);

        font-weight: bold;

        cursor: pointer;
    }
}