#project {
    width: 75%;
    margin: 16px auto;

    padding-bottom: 16px;
    border-bottom: 1px solid black;
}

#source-code {
    width: 75%;
    margin: 16px auto;

    > * {
        border-radius: 5px;
    }
}