#return-arrow {
    width: fit-content;
    height: 32px;
    margin: 16px auto;

    border: 1px solid black;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        background-color: black;
        
        svg {
            fill: white;
        }
    }

    svg {
        height: 100%;
    }
}

#project {
    width: 75%;
    margin: 16px auto;

    padding-bottom: 16px;
    border-bottom: 1px solid black;
}

#source-code {
    width: 75%;
    margin: 16px auto;

    > * {
        border-radius: 5px;
    }
}