#sliding-puzzle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;

    height: 70vw;
    max-height: 70vh;
    max-width: 70vh;
    margin: 0 auto;

    > * {
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid black;

        // Center the text vertically using the wonders of flexbox.
        display:flex;
        justify-content: center;
        align-items: center;

        font-weight: bold;
        font-size: 32px;
    }

    .empty-tile {
        background-color: rgba(black, 0.25);
        cursor: default;
    }
}

#move-counter {
    margin-top: 16px;
    text-align: center;

    p {
        border: 1px solid black;
        border-radius: 5px;
        padding: 8px;
        margin: 0;
    }
}