$grid-item-height: calc(min((75vw - 32px) / 3, 22.5vh));

#lights-out-puzzle {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 16px;
    
    max-height: 70vh;
    max-width: 70vh;
    margin: 0 auto;

    > * {
        height: $grid-item-height;

        cursor: pointer;
        border-radius: 5px;
    }

    .false {
        background-color: rgba($color: black, $alpha: 0.5);
    }
    
    .true {
        background-color: rgba($color: yellow, $alpha: 1);
    }
}